 <!-- Denote that the tempalate should use base.html and then replace the 'content' block with the 'content' below-->
{% extends 'tools/base.html' %}
{% block content %}

<div class="container d-md-block">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %} <!-- This django generates a token that prevents cross site request forgery (ie. session hijacks) -->
          {{ form }} <!--Where the forms.py is rendered -->
        <input type="submit" value="Submit">
        </form>  
      </div>
    </div>  
    <div class="container card-body">
      {{ output }} <!-- Render the results, this can be any output passed into the template using views-->
    </div>
</div>

{% endblock %}
