<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Tools Landing Page</title>
    </head> 
    <body>
        <p><a href="/testping/">Click here to go to the ping test</a></p>
        <p><a href="/testdig/">Click here to go to the dig test</a></p>
        <p><a href="/testmtr/">Click here to go to the mtr test</a></p>
        
        <div class="container" style="display: none"></div> 
        <form id="connect" action="" method="post">
            <div class="row"> 
                <div class="col"> 
                    <label for="Destination"> Destination </label>
                    <input type="text" id="Destination" name="Destination" value="" required>
                </div>
            </div>
        </form>
    </body>