<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Tools Landing Page</title>
    </head> 
    <body>
        <div class="container form-container" style="display: none"></div> 
        <form id="connect" action="" method="post">
            <div class="row"> 
                <div class="col"> 
                    <label for="Destination"> Destination </label>
                    <input class="form-control" type="text" id="Destination" name="Destination" value="" required>
                </div>
            </div>
        </form>
    </body>