.nav-wrapper {
  background-color: white;
}

body {
  background-color: white;
  vertical-align: center;
  text-align: center;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 10px;
  width: 10px;
}

il {
  color: black;
}
