{% load static %}
{% block content %}
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitGud</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href={% static 'css/tools.css' %}> 
</head>
<body>
  <nav>
    {% include 'partials/_sidebar.html' %}
  </nav>
 <div class="container center">
        <div class="col-md-6">
          <form>  {% csrf_token %}
            <div class="col s6"> 
            <a class='dropdown-trigger input-field btn blue' href='#' data-target='dropdown1'>
            Tools</a>
              <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!" class="blue-text">Ping</a></li>
              <li><a href="#!" class="blue-text">Dig</a></li>
              <li> <a href="#!" class="blue-test">Whois</li>
              <li class="divider" tabindex="-1"></li>
          </ul>
            </div>
              <div class="input-field col s6">
              <input placeholder="IP Address"  type="text" class="validate">
              <label for="ip_address">IP Address</label>
            </div>
            <div class="col s6">
            <button class="btn waves-effect waves-light blue" type="submit" name="action">
              Submit
            </button>
            </div>
          </form>
        </div>
    </div>

  </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{% static 'js/dropdown.js' %}"></script>
</body>

</html>
{% endblock %}